*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)) ,url(image.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: 80%;
    height: 70%;
    margin: auto;
    border: 2px;
    border-radius: 5px;
    margin-top: 90px;
    background-color: rgba(60, 60, 60, 0.9);
    padding-top: 20px;
}

form{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.login-content img{
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #ff3333;
}

.login-content .input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

/*input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}*/


.login-content .input-div.one{
    margin-top: 0;
}

.i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    transition: .3s;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #3e96fa;
    transition: .4s;
}

.input-div:before{
    right: 50%;
}

.input-div:after{
    left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
    width: 50%;
}

.input-div.focus > div > h5{
    top: -5px;
    font-size: 17px;
    color:black;
}

.input-div.focus > .i > i{
    color: #3e96fa;
}

.input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: white;
    font-family: 'poppins', sans-serif;
}

.input-div.pass{
    margin-bottom: 4px;
}

a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
    text-decoration: underline;
}

.txt_forgot{
    text-align: center;
    margin-top: 15px;
}

.txt_signup{
    display: inline;
}

.txt_error{
    padding-bottom: 15px;
    display: inline-block;
    color: #ff3333;

}

.txt_success{
    padding-bottom: 15px;
    display: inline-block;
    color: #2DCD96;

}
p{
    display: block;
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover{
    color: #fa3e3e;
}

.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #F45734, #D12701, #9E2409);
    background-color: #D82700;
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: .4s;
}
.btn:hover{
    background-position: right;
}


@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }

    .login-content h2{
        
        margin: 8px 0;
    }

    .img img{
        width: 400px;
    }
}

@media screen and (max-width: 900px){
    .container{
        grid-template-columns: 1fr;
    }

    .img{
        display: none;
    }

    .wave{
        display: none;
    }

    .login-content{
        justify-content: center;
    }
}